@font-face {
    font-family: 'Ikaros';
    src: url('/static/fonts/Ikaros.eot');
    src: url('/static/fonts/Ikaros.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Ikaros.woff2') format('woff2'), url('/static/fonts/Ikaros.woff') format('woff'), url('/static/fonts/Ikaros.ttf') format('truetype'), url('/static/fonts/Ikaros.svg#Ikaros') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --theme-colour-head: hsl(42, 85%, 62%);
    --theme-colour-consultant: hsl(233 54% 57%);
    --theme-colour-staffmanager: hsl(23 68% 57%);
    --theme-colour-admin: hsl(0, 100%, 72%);
    --theme-colour-mod: hsl(280, 100%, 68%);
    --theme-colour-support: hsl(180, 100%, 41%);
    --theme-colour-developer: hsl(329 90% 70%);
    --theme-colour-sotm: hsl(51 100% 50%);
}

html,
body {
    padding: 0;
    margin: 0;
    border: 0;
    /*original #191919*/
    background-color: #060606;
    font-family: 'Ikaros';
    letter-spacing: 1.5px;
    color: #FFF;
    display: block;
    width: 100%;
    height: auto;
    min-width: 280px;
    min-height: 100vh;
    position: relative;
    scroll-padding-top: 80px;
}

* {
    box-sizing: border-box;
}

input,
select,
textarea,
label {
    font-family: 'Ikaros';
    font-size: 14px;
    letter-spacing: 1px;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #121212;
}

::-webkit-scrollbar-track {
    background-color: #121212;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.adBanner {
    background-color: transparent;
    height: 1px;
    width: 1px;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(25, 25, 25, 0.8);
}

.page-container {
    width: 100%;
    min-height: 100%;
    position: relative;
    z-index: 3;
    box-sizing: border-box;
}

.float-container {
    height: auto;
    overflow: auto;
    clear: both;
}

.page-container>.page-contents {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 20px;
}

.page-container.padding {
    padding: 20px 40px;
}

.page-contents>.page-title {
    font-size: 18px;
    padding: 10px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    text-align: center;
}

.page-contents p a:not([class]),
.page-contents ul a:not([class]),
.page-contents :where(h1, h2, h3, h4, h5, h6) a:not([class]) {
    text-decoration: none;
    color: #d4af37;
}

.page-contents>.page-title.back {
    padding-left: 74px;
}

.page-contents>.page-title>.back-button {
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-align: center;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    font-family: 'FontAwesome';
    content: '\f104';
    color: #FFF;
    text-decoration: none;
}

.page-contents>.page-title>.back-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.skyscraper-ad {
    height: 800px;
    width: 200px;
    position: absolute;
    z-index: 4;
    top: 80px;
    display: flex;
    justify-content: center;
}

.skyscraper-ad.left {
    left: calc(((100% - 1440px) / 2) - 200px);
}


.skyscraper-ad.right {
    right: calc(((100% - 1440px) / 2) - 200px);
}

@media screen and (max-height:800px) {
    .skyscraper-ad {
        position: absolute;
    }
}

@media screen and (max-width:1820px) {
    .skyscraper-ad {
        display: none;
    }
}

.new-main-menu {
    background-color: rgb(35, 35, 35);
    /*margin-bottom:20px;*/
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.new-main-menu .container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    overflow: visible;
    display: flex;
    flex-direction: row;
}

.new-main-menu a {
    display: inline-flex;
    flex-direction: row;
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.new-main-menu div.logo {
    display: inline-flex;
    flex-direction: row;
    color: #FFF;
    text-decoration: none;
    height: 61px;
    width: 61px;
    margin-left: 10px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-image: url(/static/images/brand/SmallLogo_gold_shadow.svg);
}

.mob-nav-button-container {
    text-align: center;
}

.mob-nav-button {
    display: flex;
    flex-direction: row;
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.mob-nav-button span {
    display: inline-block;
}

.new-main-menu label {
    display: inline-flex;
    flex-direction: row;
    color: #FFF;
    text-decoration: none;
    position: relative;
    font-size: 16px;
}

.new-main-menu label .menu {
    display: none;
    position: absolute;
    right: 0;
    z-index: 10;
    background-color: rgb(35, 35, 35);
    width: 250px;
    margin-top: 61px;
}

.new-main-menu label .menu a {
    display: block;
}

.new-main-menu label:hover>input:checked~.menu {
    display: block;
}

.new-main-menu input[type="checkbox"] {
    display: block;
    height: 0px;
    width: 0px;
    position: absolute;
    left: -9999px;
}

.new-main-menu .menu {
    position: absolute;
}

.new-main-menu a::after,
.new-main-menu .mob-nav-button::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px;
    background-color: #C59531;
    transition: height .25s ease-in-out;
}

.new-main-menu a:hover::after,
.new-main-menu .mob-nav-button:hover::after {
    height: 4px;
}

.new-main-menu a .icon,
.mob-nav-button .icon {
    height: 20px;
    width: 20px;
    vertical-align: middle;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.new-main-menu a .home {
    background-image: url(/static/images/icons/home_gold.svg);
}

.new-main-menu a .leaderboards {
    background-image: url(/static/images/icons/bars_gold.svg);
}

.new-main-menu a .rules {
    background-image: url(/static/images/icons/rules_gold.svg);
}

.new-main-menu a .submit {
    background-image: url(/static/images/icons/gamepad_gold.svg);
}

.new-main-menu a .downloads {
    background-image: url(/static/images/icons/download_gold.svg);
}

.new-main-menu a .players {
    background-image: url(/static/images/icons/player_gold.svg);
}

.new-main-menu a .staff {
    background-image: url(/static/images/icons/group_gold.svg);
}

.new-main-menu a .recent-worldrecords {
    background-image: url(/static/images/icons/medal_gold.svg);
}

.new-main-menu label a .more {
    background-image: url(/static/images/icons/more-dots_gold.svg);
}

.new-main-menu .icon.menulines {
    background-image: url(/static/images/brand/menu_gold.svg);
}

.new-main-menu .search-window {
    border-top: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.new-main-menu .search-window .search {
    height: 40px;
    overflow: hidden;
    border-radius: 25px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgba(45, 45, 45, 0.5);
}

.new-main-menu .search-window form {
    margin: auto;
}

.new-main-menu .search-window input {
    float: left;
    background-color: transparent;
    color: #FFF;
    display: block;
    height: 40px;
    line-height: 40px;
    border: 0;
    outline: none;
    padding: 0;
}

.new-main-menu .search-window input[type="text"]:-ms-input-placeholder {
    color: #FFF;
    opacity: 1;
}

.new-main-menu .search-window input[type="text"]::-moz-placeholder {
    color: #FFF;
    opacity: 1;
}

.new-main-menu .search-window input[type="text"]::-webkit-input-placeholder {
    color: #FFF;
    opacity: 1;
}

.new-main-menu .search-window input[type="text"] {
    width: calc(100% - 60px);
    padding-left: 25px;
    font-size: 14px;
}

.new-main-menu .search-window input[type="submit"] {
    width: 60px;
    font-family: 'FontAwesome';
    font-size: 20px;
    text-align: center;
    margin-top: 0;
}

.mob-nav-button-container {
    display: none;
}

@media screen and (max-width:1200px) {
    .new-main-menu .search-bar {
        display: none;
    }
}

@media screen and (max-width:920px) {
    .mob-nav-button-container {
        display: block;
    }

    .new-main-menu .container {
        display: none;
        flex-wrap: wrap;
    }

    .new-main-menu.active .container {
        display: flex;
        margin-top: 60px;
    }

    .new-main-menu .container>a,
    .new-main-menu .container>label {
        width: 50%;
    }

    .new-main-menu .container>label>a {
        width: 100%;
    }

    .new-main-menu label .menu {
        width: 100%;
    }

    .new-main-menu {
        position: relative;
        top: unset;
    }

    .new-main-menu div.logo {
        display: none;
    }

    .new-main-menu label .menu a {
        padding: 10px 20px;
    }

    .mob-nav-button-container {
        position: fixed;
        width: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        background-color: rgb(35, 35, 35);
        z-index: 100;
    }

    .page-container {
        margin-top: 61px;
    }
}

@media screen and (max-width:480px) {

    .new-main-menu .container>a,
    .new-main-menu .container>label {
        width: 100%;
    }
}

.new-main-menu .search-bar {
    padding: 10px;
    flex-grow: 1;
}

.page-container>.header {
    position: relative;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-bottom: 1px solid #2d2d2d;
}

.page-container>.header .blacker {
    background: rgba(18, 18, 18, .7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.page-container>.header .brand {
    background-image: url(/static/images/icons/trophy_bg.svg), linear-gradient(90deg, rgba(18, 18, 18, 0) 0%, rgba(18, 18, 18, 1) 15%, rgba(18, 18, 18, 1) 85%, rgba(18, 18, 18, 0) 100%);
    background-size: auto 125px, auto;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 800px;
    width: 45%;
    margin: 0 auto;
    height: 100%;
    z-index: 2;
}

.page-container>.header .logo {
    text-align: center;
    line-height: 1;
    margin: 0 80px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-decoration: none;
}

.page-container>.header .logo:hover,
.page-container>.header .logo:active {
    color: inherit;
    text-decoration: inherit;
}

.page-container>.header .logo .title {
    display: block;
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff;
    margin-top: .5em;
}

.page-container>.header .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 145px;
    background-color: #222423;
    line-height: 34px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 0 1em;
    border: 1px solid transparent;
    cursor: pointer;
}


.page-container>.header .btn+.btn {
    margin-top: 4px;
}

.page-container>.header .btn:hover,
.page-container>.header .btn:active {
    background-color: rgba(40, 40, 40, 1);
    border-color: #c59531;
}

.page-container>.header .icon {
    height: 18px;
    width: 18px;
    display: inline-block;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.page-container>.header .discord-icon {
    background-image: url('/static/images/icons/discord_gold.svg');
}

.page-container>.header .twitch-icon {
    background-image: url('/static/images/icons/twitch_gold.svg');
}

.page-container>.header .twitter-icon {
    background-image: url('/static/images/icons/twitter_gold.svg');
}

.page-container>.header .forum-icon {
    background-image: url(/static/images/icons/forum.svg);
}

.page-container>.header .contact-icon {
    background-image: url(/static/images/icons/contact.svg?v=2);
}

/* Breadcrumb Nav */
.breadcrumb {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    padding: 0px 20px;
    height: 30px;
    list-style: none;
    box-sizing: border-box;
    background-color: #222423;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.breadcrumb a {
    text-decoration: none;
    box-sizing: border-box;
    color: inherit;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.breadcrumb a span {
    display: block;
    float: left;
}

.breadcrumb a.Disabled span {
    opacity: 0.5;
}

.breadcrumb a:not(:last-child):after {
    content: ' ';
    height: 30px;
    display: block;
    float: left;
    width: 30px;
    background: url('/static/images/icons/breadcrumb-arrow.svg') no-repeat center center;
}

/* Public Icons */
.main-menu a.leaderboard {
    background-image: url(/static/images/icons/bars_gold.svg);
}

.main-menu a.competitions {
    background-image: url(/static/images/icons/trophy_gold.svg);
}

.main-menu a.zwc {
    background-image: url(/static/event/zwc-icon.svg);
}

.main-menu a.submit {
    background-image: url(/static/images/icons/gamepad_gold.svg);
}

.main-menu a.check-submission {
    background-image: url(/static/images/icons/magnifying_glass.svg);
}

.main-menu a.downloads {
    background-image: url(/static/images/icons/download_gold.svg);
}

.main-menu a.players {
    background-image: url(/static/images/icons/player_gold.svg);
}

.main-menu a.recent-worldrecords {
    background-image: url(/static/images/icons/medal_gold.svg);
}

.main-menu a.clubs {
    background-image: url(/static/images/icons/gold/group.svg);
}

.main-menu label.more {
    background-image: url(/static/images/icons/more-dots_gold.svg);
}

/* Old
.main-menu a.mobile-menu {background-image:url(/static/images/icons/menu_gold.svg);background-size:35px auto;display: none;}
.mobile-main-menu a.mobile-menu {background-image:url(/static/images/icons/menu_gold_shadowed3.svg);background-size:50px auto;}
*/
.main-menu a.mobile-menu {
    background-image: url(/static/images/brand/close_gold.svg);
    background-size: 24px auto;
    display: none;
    border-bottom: 1px solid #2d2d2d;
}

.mobile-main-menu a.mobile-menu {
    background-image: url(/static/images/brand/menu_gold.svg);
    background-size: 24px auto;
}

/* new icons */
.main-menu a.zombacus {
    background-image: url(/static/images/icons/zombacus_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.undead {
    background-image: url(/static/images/icons/undead_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.about {
    background-image: url(/static/images/icons/about_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.terms {
    background-image: url(/static/images/icons/rules_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.staff {
    background-image: url(/static/images/icons/group_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.zombacus {
    background-image: url(/static/images/icons/zombacus_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.twitter {
    background-image: url(/static/images/icons/twitter_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.youtube {
    background-image: url(/static/images/icons/youtube_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.discord {
    background-image: url(/static/images/icons/discord_gold.svg);
    background-size: 35px 35px;
}

.main-menu a.twitch {
    background-image: url(/static/images/icons/twitch_gold.svg);
    background-size: 35px 35px;
}

.mob-rules,
.mob-staff {
    display: none;
}

/* Admin Icons */
.main-menu a.submissions {
    background-image: url(/static/admin/images/icons/ticket.svg);
}

.main-menu a.email,
.main-menu>label.email {
    background-image: url(/static/admin/images/icons/email.svg);
}

.main-menu a.logout {
    background-image: url(/static/admin/images/icons/logout.svg);
}

.main-menu label.tools {
    background-image: url(/static/admin/images/icons/cogs.svg);
}

.main-menu a.featured {
    background-image: url(/static/admin/images/icons/livestream.svg);
}

.main-menu a.records {
    background-image: url(/static/admin/images/icons/records.svg);
}

/* Windows */
.window-topbar {
    border-bottom: 1px solid rgb(45, 45, 45);
    box-sizing: border-box;
    line-height: 45px;
    height: 45px;
    position: relative;
    text-align: center;
}

.window-topbar a {
    text-decoration: none;
    line-height: 40px;
    font-size: 26px;
    text-align: center;
    color: inherit;
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    bottom: 0;
    width: 40px;
}

.window-topbar a:hover {
    cursor: pointer;
}

.message-popup .message,
.window .message {
    padding: 10px 20px;
}

.message-popup {
    background-color: rgb(35, 35, 35);
    margin-bottom: 20px;
}

.window {
    background-color: rgb(35, 35, 35);
    width: 100%;
    min-height: 100px;
}

.window>.container {
    height: auto;
    overflow: auto;
    position: relative;
}

p a {
    text-decoration: none;
    color: #C59531;
}

.advert-block {
    text-align: center;
    line-height: 1;
    margin: auto;
    position: relative;
    max-width: 100vw;
    overflow: hidden;
}

.ad-bottom-seperator {
    padding-top: 40px;
    padding-bottom: 40px;
    line-height: 1;
    width: 100%;
    position: relative;
}

.ad-bottom-seperator::after {
    content: '';
    height: 0;
    width: calc(90% - 80px);
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    background-color: #222423;
}

.ad-top-seperator {
    padding-top: 0px;
    padding-bottom: 20px;
    line-height: 1;
    width: 100%;
    position: relative;
}

.ad-top-seperator::after {
    content: '';
    height: 0;
    width: calc(90% - 80px);
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    background-color: #222423;
}

.ad-middle-seperator {
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1;
    height: auto;
    width: 100%;
    position: relative;
    overflow: auto;
}

.ad-middle-seperator::before {
    content: '';
    height: 0;
    width: calc(90% - 80px);
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    top: 0;
    background-color: #222423;
}

.ad-middle-seperator::after {
    content: '';
    height: 0;
    width: calc(90% - 80px);
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    background-color: #222423;
}

.ad-bottom-fixed {
    position: fixed;
    display: none;
    bottom: 0;
    left: 80px;
    right: 0;
    width: 728px;
    max-height: 110px;
    background-color: #303030;
    margin: auto;
    z-index: 999;
}

.ad-bottom-fixed .top-bar {
    height: 20px;
    width: 90%;
}

.ad-bottom-fixed .top-bar .title {
    width: calc(90% - 30px);
    font-size: 10px;
    line-height: 20px;
    float: left;
    padding-left: 10px;
}

.ad-bottom-fixed .top-bar .close {
    width: 30px;
    float: left;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-family: 'FontAwesome';
}

.ad-bottom-fixed .ad-container {
    max-height: 90px;
    width: 90%;
    text-align: center;
}

#annoying-block.ui-widget-content {
    padding: 50px 40px 50px 220px;
    text-align: center;
    background-image: url('../images/brand/SadFace_gold.png');
    background-repeat: no-repeat;
    background-position: 70px center;
    background-size: 100px auto;
}

div.ui-widget-overlay {
    opacity: 0.98;
}

/* Pop up for filters */
.pop-up-cont {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.98);
    display: none;
    grid-template-columns: 1fr 750px 1fr;
    grid-template-rows: repeat(3, 1fr);
    transition: display 1s ease;
    z-index: 999;
}

.filter-cont {
    width: 100%;
    background: rgb(18, 18, 18);
    color: white;
    grid-column-start: 2;
    grid-row-start: 2;
    margin: auto;
}

.title-bar {
    position: relative;
    border-bottom: 1px solid rgb(45, 45, 45);
    padding: .5em 1em;
}

.close-filter {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    transition: color 0.4s ease;
    font-family: 'FontAwesome';
    font-size: 20px;
}

.close-filter:hover {
    color: rgb(175, 175, 175);
}

.close-filter-alt {
    width: 100%;
    background-color: rgb(45, 45, 45);
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #FFF;
    border: 1px solid rgb(45, 45, 45);
    cursor: pointer;
}

.close-filter-alt:hover {
    border: 1px solid #c49332;
}

.filter-contents {
    padding: .5em 1em;
}

.filter-contents div {
    padding: 0.5em 1em;
    transition: background 0.4s ease, border-bottom 0.4s ease, border-top 0.4s ease;
    cursor: pointer;
    text-align: center;
    border-top: 1px solid #121212;
    border-bottom: 1px solid #121212;
}

.filter-contents div:hover {
    background: #232323;
}

.filter-active {
    background: #232323;
}

.filter-status {
    text-align: center;
    background: #c59531;
    color: #0c0c0c;
    display: none;
    height: 40px;
    line-height: 40px;
}

.socialsinfo {
    position: fixed;
    z-index: 100;
    padding: 15px 35px;
    width: 270px;
    height: 365px;
    font-size: 14px;
    letter-spacing: 1px;
    bottom: 20px;
    left: 0;
    background-color: #121212;
    background-image: url(/static/images/brand/zombieGang.jpg);
    background-position: 50% 0%;
    background-repeat: no-repeat;
    border-radius: 0 4px 4px 0;
    border: 1px solid #2d2d2d;
    border-left: none;
    box-shadow: 2px 2px 10px -4px rgb(0 0 0 / 50%);
    animation: fadeInLeft .75s;
    animation-fill-mode: backwards;
    animation-delay: 1.75s;
    cursor: default;
}

.socialsinfo .socialsmoji {
    text-align: center;
    font-size: 36px;
    margin: 20px 0 15px;
}

.socialsinfo .socialswords {
    position: relative;
    color: #fff;
    overflow: hidden;
    font-size: 22px;
    text-align: center;
    height: 50px;
}

.socialsinfo .socialswords>.word {
    height: 50px;
    line-height: 50px;
    word-wrap: none;
    text-align: center;
    display: block;
    animation: slideWords 5s ease;
    animation-fill-mode: backwards;
    animation-delay: 2s;
}

.socialsinfo .sbseperator {
    content: "";
    display: block;
    height: 1px;
    background-image: linear-gradient(90deg, rgba(197, 149, 49, 0.0), rgba(197, 149, 49, 1.0), rgba(197, 149, 49, 0.0));
    margin-bottom: 30px;
}

.socialsinfo .socialsboxwrap {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 15px;
}

.socialsinfo .socialsboxwrap .sbinner {
    flex: none;
    text-align: center;
}

.socialsinfo .socialsboxwrap .sbinner+.sbinner {
    margin-left: 15px;
}

.socialsinfo .socialsboxwrap .sbinner .sblabel {
    font-size: 16px;
    color: #c59531;
    margin-bottom: 15px;
    display: block;
}

.socialsinfo .socialsboxwrap .sbinner .sbdiscord {
    background-color: #7289da;
}

.socialsinfo .socialsboxwrap .sbinner .sbtwitter {
    background-color: #1da1f2;
}

.socialsinfo .socialsboxwrap .sbinner .socialsbtn {
    display: inline-flex;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    color: #121212;
    border-radius: 16px;
    transition: color .1s ease, background-color .1s ease, border-color .1s ease;
    border: 2px solid transparent;
}

.socialsinfo .socialsboxwrap .sbinner .socialsbtn>.icon {
    width: 42px;
    height: 42px;
}

.socialsinfo .tib2close>.icon {
    width: 14px;
    height: 14px;
    margin-right: 3px;
    color: inherit;
}

@keyframes slideWords {
    0% {
        transform: translateY(-600px);
    }

    100% {
        transform: translateY(0px);
    }
}

.socialsinfo .socialsboxwrap .sbinner .socialsbtn:hover,
.socialsinfo .socialsboxwrap .sbinner .socialsbtn:active {
    color: #fff;
    border-color: #fff;
}

.socialsinfo .tib2close {
    display: flex;
    line-height: 1;
    justify-content: center;
    align-items: center;
    color: #5a5a5a;
    cursor: pointer;
    height: 32px;
}

.twitterinfo {
    position: fixed;
    z-index: 100;
    padding: 20px 40px;
    max-width: 350px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    text-decoration: none;
    bottom: 20px;
    left: 0;
    background-color: #121212;
    border-radius: 0 4px 4px 0;
    border: 1px solid #2d2d2d;
    border-left: 6px solid #1DA1F2;
    cursor: default;
    box-shadow: 2px 2px 10px -4px rgba(0, 0, 0, .5);
    animation: fadeInLeft .75s;
    animation-fill-mode: backwards;
    animation-delay: 3s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.twitterinfo strong {
    text-transform: uppercase;
}

.twitterinfo .btn {
    display: block;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 700;
}

.twitterinfo .btn:hover,
.twitterinfo .btn:active {
    background-color: #fff;
    color: #121212;
}

.twitterinfo .btn .icon {
    width: 18px;
    height: 18px;
    margin-right: .5em;
    color: #1DA1F2;
    vertical-align: -.25em;
}

.twitterinfo .tclose {
    width: 10px;
    height: 10px;
    color: #5a5a5a;
    position: absolute;
    top: 12px;
    right: 12px;
    display: inline-block;
    cursor: pointer;
}

.twitterinfo .tclose:hover,
.twitterinfo .tclose:active {
    color: #fff;
}

@media screen and (max-width:1000px) {
    .page-container>.header {
        background-image: url(/static/images/top/Mob2020.jpg);
        background-size: cover;
    }

    .page-container>.header .logo {
        margin: 0 60px;
    }

    .page-container {
        margin-left: 0px;
        width: 100%;
    }

    .page-container>.page-contents {
        padding: 0px 5px;
    }

    /*.main-menu {position: absolute;top:0;left:-80px;bottom:0;background-color:rgba(18, 18, 18,0.9);}*/
    .main-menu {
        position: fixed;
        top: 0;
        left: -80px;
        bottom: 0;
        background-color: rgba(18, 18, 18, 0.9);
        overflow-x: hidden;
        /*overflow-y: auto;*/
    }

    .main-menu>.logo {
        background-image: url('/static/images/icons/home_gold.svg');
        margin-bottom: 0;
    }

    .main-menu a.mobile-menu {
        display: block;
    }

    .page-contents>.page-title {
        padding: 10px 70px;
    }

    .page-contents>p,
    .page-contents>* {
        padding-left: 10px;
        padding-right: 10px;
    }

    .mobile-main-menu {
        left: 40px;
        z-index: 3;
    }

    .mobile-main-menu.active {
        left: -85px;
    }

    .main-menu.active {
        left: 0px;
        transition-delay: .25s;
    }
}

@media screen and (max-width:830px) {
    .ad-bottom-fixed {
        left: 0;
    }

    .page-container>.header .brand {
        min-width: auto;
        width: 100%;
        background: none;
    }

    .page-container>.header .logo {
        margin: 0 40px;
    }

    .page-container>.header .btn {
        padding: 0;
        width: 36px;
        height: 36px;
        justify-content: center;
        min-width: 0;
    }

    .page-container>.header .btn .icon {
        margin-right: 0;
    }

    .page-container>.header .btn .text {
        display: none;
    }
}

@media screen and (max-height:700px) {

    /*.main-menu {position: absolute;top:0;left:0;bottom:0;}*/
    .main-menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-height:700px) and (max-width:1000px) {

    .main-menu {
        position: fixed;
        top: 0;
        left: -80px;
        bottom: 0;
    }

    /*.main-menu {position: absolute;top:0;left:-80px;bottom:0;}*/
}

@media screen and (max-width:750px) {

    /* filter pop up */
    .pop-up-cont {
        grid-template-columns: 1fr;
    }

    .filter-cont {
        grid-column-start: 1;
    }
}

@media screen and (max-width:600px) {
    .mobile-main-menu {
        left: 5px;
    }

    .mobile-main-menu a.mobile-menu {
        background-size: 24px auto;
        background-image: url(/static/images/brand/menu_gold.svg);
    }

    .page-container>.header .btn {
        display: none;
    }

    /* new code */

    .mob-rules,
    .mob-staff {
        text-decoration: none;
        display: block;
        color: rgba(255, 255, 255, 0.75);
        height: 30px;
        font-size: 16px;
        line-height: 30px;
        white-space: nowrap;
    }

    .main-menu>a:not(.mobile-menu):not(.mobile-main-menu),
    .main-menu>label {
        background-size: 28px !important;
        height: 58px;
    }

    .main-menu>label>.menu {
        position: fixed;
    }

    .main-menu label.more {
        /*display: none;*/
    }
}

.footer {
    text-align: center;
    margin: 60px 0 40px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-top: 1px solid #2d2d2d;
}

.footer .brand {
    max-width: 420px;
    margin: -15px auto 0;
    margin-top: -15px;
}


.footer .brand img {
    vertical-align: middle;
}


.footer .brand .title {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
}

.footer .slogan {
    margin: 30px 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
}

.footer .copyright {
    line-height: 1.5;
    font-size: 14px;
    color: rgb(90, 90, 90);
    letter-spacing: .5px;
    margin: 0;
}

.footer {
    border-top: none;
    padding: 0 15px;
}

.footer .slogan {
    font-size: 14px;
    margin: 25px 0;
}

.footer .brand {
    padding: 0;
    margin-top: 0;
}

@media screen and (max-width:500px) {
    .page-container>.header {
        height: 100px;
    }

    .page-container>.header .logo>img {
        height: 42px;
    }

    .page-container>.header .logo .title {
        font-size: 16px;
    }

    .page-contents>.page-title.back {
        padding: 10px;
    }

    .page-contents>.page-title>.back-button {
        position: relative;
        line-height: 50px;
        left: unset;
        right: unset;
        top: unset;
        bottom: unset;
        margin: auto;
        margin-bottom: 10px;
        display: block;
    }

    .page-contents>.page-title.back>span {
        display: none;
        text-align: center;
        font-size: 24px;
    }

    .page-contents>.page-title.back>span:first-of-type,
    .page-contents>.page-title.back span:last-of-type {
        display: block;
    }


    @media screen and (max-width:400px) {
        #annoying-block.ui-widget-content {
            padding: 120px 20px 40px 20px;
            background-position: center 20px;
        }
    }

    @media screen and (max-width:330px) {
        .main-menu {
            top: 0;
            left: -80px;
            bottom: 0;
            background-color: rgba(18, 18, 18, 0.9);
        }

        .mobile-main-menu {
            position: absolute;
        }
    }



    @media screen and (max-width:1600px) {

        .main-menu>.logo,
        .main-menu a.staff,
        .main-menu a.terms,
        .main-menu>a {
            height: 60px;
            background-size: 24px auto;
        }
    }
}

.profile-ring {
    display: grid;
    align-items: center;
    border-radius: 50%;
    max-width: var(--max-width, 150px);
    width: 100%;
    margin-inline: auto;
    margin-block: unset;
    border: 6px solid #232323;
    box-shadow: 0px 0px 0px 2px #C59531;
}

@supports not (aspect-ratio: 1 / 1) {
    .profile-ring {
       position: relative;
    }
    
    .profile-ring::before {
        content: "";
        display: block;
        padding-top: calc((1/1) * 100%);
    }
   
    .profile-ring img {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        object-fit: cover;
    }
}

@supports (aspect-ratio: 1 / 1) {
    .profile-ring img {
       aspect-ratio: 1/1;
       height: auto;
       width: 100%;
       object-fit: cover;
    }
}

.profile-ring img {
    border-radius: 50%;
}

.profile-ring--stock img {
    padding: 0.75rem;
    border-radius: unset;
    object-fit: contain;
}

.profile-ring--stock.profile-ring--staff img,
.profile-ring--stock.profile-ring--developer img {
    padding: 1.25rem;
}

.profile-ring--staff {
    border: unset;
    box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1rem var(--glow-colour), 0 0 0.5rem var(--glow-colour), 0 0 1.4rem var(--glow-colour), inset 0 0 1rem var(--glow-colour);
    animation: glowing 2s ease-in-out infinite alternate;
}

.profile-ring--head {
    --glow-colour: var(--theme-colour-head);
}

.profile-ring--sotm {
    --glow-colour: var(--theme-colour-sotm)
}

.profile-ring--staffmanager {
    --glow-colour: var(--theme-colour-staffmanager);
}

.profile-ring--admin {
    --glow-colour: var(--theme-colour-admin);
}

.profile-ring--consultant {
    --glow-colour: var(--theme-colour-consultant);
}

.profile-ring--mod {
    --glow-colour: var(--theme-colour-mod);
}

.profile-ring--support {
    --glow-colour: var(--theme-colour-support);
}

.profile-ring--developer {
    border: unset;
    box-shadow: unset;
    position: relative;
}

.profile-ring--developer::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    inset: 0;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, -3px 5px 1rem var(--theme-colour-admin), 0 0 1rem var(--theme-colour-developer), 3px -5px 1rem var(--theme-colour-developer), inset 0 0 0.7rem var(--theme-colour-developer);
    animation: glowing-dev 4s ease-in-out infinite;
}

@keyframes glowing {
    from {
        box-shadow: 0 0 .2rem #fff, 0 0 .2rem #fff, 0 0 1.5rem var(--glow-colour), 0 0 0.5rem var(--glow-colour), 0 0 1.4rem var(--glow-colour), inset 0 0 1rem var(--glow-colour);
    }

    to {
        box-shadow: 0 0 .3rem #fff, 0 0 .3rem #fff, 0 0 2.5rem var(--glow-colour), 0 0 0.9rem var(--glow-colour), 0 0 2.25rem var(--glow-colour), inset 0 0 1.3rem var(--glow-colour);
    }
}

@keyframes glowing-dev {
    0% {
        rotate: 0turn;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, -3px 5px 1rem var(--theme-colour-admin), 0 0 1rem var(--theme-colour-developer), 3px -5px 1rem var(--theme-colour-developer), inset 0 0 0.7rem var(--theme-colour-developer);
    }

    50% {
        rotate: 0.5turn;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, -3px 5px 1.5rem var(--theme-colour-admin), 0 0 1.5rem var(--theme-colour-developer), 3px -5px 1.5rem var(--theme-colour-developer), inset 0 0 1.1rem var(--theme-colour-developer);
    }

    100% {
        rotate: 1turn;
        box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, -3px 5px 1rem var(--theme-colour-admin), 0 0 1rem var(--theme-colour-developer), 3px -5px 1rem var(--theme-colour-developer), inset 0 0 0.7rem var(--theme-colour-developer);
    }
}

.user-role {
    margin: unset;
    color: var(--text-colour);
    font-weight: bold;
}

.user-role--head {
    --text-colour: var(--theme-colour-head);
}

.user-role--staffmanager {
    --text-colour: var(--theme-colour-staffmanager);
}

.user-role--admin {
    --text-colour: var(--theme-colour-admin);
}

.user-role--mod {
    --text-colour: var(--theme-colour-mod);
}

.user-role--support {
    --text-colour: var(--theme-colour-support);
}

.user-role--consultant {
    --text-colour: var(--theme-colour-consultant);
}

.user-role--sotm {
    --text-colour: var(--theme-colour-sotm);
}


.user-role--developer {
    --text-colour: var(--theme-colour-developer);
    
    background-image: linear-gradient(90deg, var(--theme-colour-developer), var(--theme-colour-admin));
    background-size: 350%;
    text-fill-color: transparent;
    max-width: fit-content;
    margin-inline: auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: dev-role 2s ease-in-out infinite alternate;
}

@keyframes dev-role {
  from {
      background-position: left;
  }
  
  to {
      background-position: right;
  }
}

.text-glow {
    color: var(--glow-colour, inherit) !important;
    text-shadow: 0 0 0px var(--text-colour, transparent), 0 0 2px var(--glow-colour, transparent), 0 0 10px var(--glow-colour, transparent);
}

.text-glow--head {
    --text-colour: hsl(55.47deg 91.38% 54.51%);
    --glow-colour: hsl(39.86deg 59.35% 48.24%);
}

.text-glow--admin {
    --text-colour: hsl(212 89% 58%);
    --glow-colour: hsl(212.22 55% 50%);
}

.text-glow--mod {
    --text-colour: hsl(127.3deg 88.52% 47.84%);
    --glow-colour: hsl(127 70% 35% / 1);
}

.text-glow--support {
    --text-colour: hsl(127.3deg 88.52% 47.84%);
    --glow-colour: hsl(127 70% 35% / 1);
}

.text-glow--developer {
    --text-colour: white;
    
    text-shadow: 0 0 1px rgb(255 65 155 / 20%), 0 0 5px rgb(43 217 245 / 20%), 0 0 10px rgb(255 65 155 / 20%);
    background-image: linear-gradient(90deg, rgb(243 65 157), rgb(43 217 245));
    background-size: 350%;
    text-fill-color: transparent;
    max-width: fit-content;background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: dev-role 2s ease-in-out infinite alternate;
}